<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nwpu.i_gua_da.mapper.NoticeMapper">
    <resultMap id="Notice" type="org.nwpu.i_gua_da.entity.Notice">
        <id property="noticeId" column="notice_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="createTime" column="createTime"/>
        <association property="sender" column="sender_id" javaType="org.nwpu.i_gua_da.entity.User">
            <id property="userId" column="user_id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>

    <insert id="addNotice" parameterType="org.nwpu.i_gua_da.entity.Notice">
        INSERT INTO notice_info (title, content, sender_id, create_time) VALUES (#{title}, #{content}, #{sender.userId}, #{createTime})
    </insert>
    
    <update id="removeNoticeById">
        UPDATE notice_info SET status = #{isDeleteStatus} where notice_id = #{noticeId}
    </update>

    <select id="listNoticeByNoticeTitle" resultMap="Notice">
        SELECT n.notice_id, n.title, n.content, n.create_time, u.user_id, u.name from notice_info n left join user_info u on n.sender_id = u.user_id where n.title = #{noticeTitle} and n.status = #{notDeleteStatus}
    </select>

    <select id="searchNoticeById" resultMap="Notice">
        SELECT n.notice_id, n.title, n.content, n.create_time, u.user_id, u.name from notice_info n left join user_info u on n.sender_id = u.user_id where n.notice_id = #{noticeId}
    </select>

    <select id="listNotices" resultMap="Notice">
        SELECT n.notice_id, n.title, n.content, n.create_time, u.user_id, u.name from notice_info n left join user_info u on n.sender_id = u.user_id
    </select>
</mapper>