<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nwpu.i_gua_da.mapper.ReserveMapper">
    <resultMap id="Reserve" type="org.nwpu.i_gua_da.entity.Reserve">
        <id property="reserveId" column="reserve_id"/>
        <result property="reserveTime" column="reserve_time"/>
        <result property="status" column="status"/>
        <association property="user" javaType="org.nwpu.i_gua_da.entity.User">
            <id property="userId" column="user_id"/>
            <result property="name" column="name"/>
        </association>
        <association property="schedule" javaType="org.nwpu.i_gua_da.entity.Schedule">
            <id property="scheduleId" column="schedule_id"/>
            <result property="departureDateTime" column="departure_time"/>
            <result property="totalSeat" column="total_seat"/>
            <result property="lastSeat" column="last_seat"/>
            <association property="startStation" javaType="org.nwpu.i_gua_da.entity.Station">
                <id property="stationId" column="start_station_id"/>
                <result property="stationName" column="start_station_name"/>
                <result property="campus" column="start_station_campus"/>
                <result property="longitude" column="start_station_longitude"/>
                <result property="latitude" column="start_station_latitude"/>
            </association>
            <association property="endStation" javaType="org.nwpu.i_gua_da.entity.Station">
                <id property="stationId" column="end_station_id"/>
                <result property="stationName" column="end_station_name"/>
                <result property="campus" column="end_station_campus"/>
                <result property="longitude" column="end_station_longitude"/>
                <result property="latitude" column="end_station_latitude"/>
            </association>
        </association>
    </resultMap>

    <select id="selectReserveByUserIdAndScheduleId" resultMap="Reserve">
        select
            *
        from
            (select
                 r.reserve_id, r.schedule_id, r.reserve_time, r.`status`, u.user_id, u.`name`
             from
                  reserve_info r
             left join
                  user_info u
             on r.user_id = u.user_id
             where
                 r.status = 1 and
                 r.user_id = #{userId}
                and r.schedule_id = #{scheduleId}
            ) r
        left join
            (select
                 s.schedule_id, s.departure_time, s.total_seat, s.start_station_id,
                 s.end_station_id,
                 s.start_station_name,
                 s.start_station_campus,
                 s.start_station_longitude,s.start_station_latitude,
                 `end`.station_name as end_station_name,
                 `end`.station_campus as end_station_campus,
                 `end`.station_longitude as end_station_longitude,
                 `end`.station_latitude as end_station_latitude
            from
                 (select
                      s.schedule_id, s.departure_time, s.total_seat, s.last_seat,
                      s.start_station_id, s.end_station_id,
                      `start`.station_name as start_station_name,
                      `start`.station_campus as start_station_campus,
                      `start`.station_longitude as start_station_longitude,
                      `start`.station_latitude as start_station_latitude
                  from bus_schedule s
                  left join station_info `start`
                  on s.start_station_id = `start`.station_id
                 ) s
            left join station_info `end`
            on s.end_station_id = `end`.station_id
            ) s
        on r.schedule_id = s.schedule_id
        order by r.reserve_time DESC
    </select>

    <insert id="insertReserve" parameterType="org.nwpu.i_gua_da.entity.Reserve">
        INSERT INTO reserve_info (user_id, schedule_id, reserve_time, status)
        values (#{user.userId}, #{schedule.scheduleId}, #{reserveTime}, #{status})
    </insert>

    <select id="listReservesByUserIdBetweenTimes" resultMap="Reserve">
        select
            *
        from
            (select
                 r.reserve_id, r.schedule_id, r.reserve_time, r.`status`, u.user_id, u.`name`
             from reserve_info r
                      left join user_info u on r.user_id = u.user_id
             where
                   r.status = 1 and
                   r.user_id = #{userId}) r
        left join
            (select
                 s.schedule_id, s.departure_time, s.total_seat, s.start_station_id,
                 s.end_station_id,
                 s.start_station_name,
                 s.start_station_campus,
                 s.start_station_longitude,s.start_station_latitude,
                 `end`.station_name as end_station_name,
                 `end`.station_campus as end_station_campus,
                 `end`.station_longitude as end_station_longitude,
                 `end`.station_latitude as end_station_latitude
             from
                 (select
                      s.schedule_id, s.departure_time, s.total_seat, s.last_seat,
                      s.start_station_id, s.end_station_id,
                      `start`.station_name as start_station_name,
                      `start`.station_campus as start_station_campus,
                      `start`.station_longitude as start_station_longitude,
                      `start`.station_latitude as start_station_latitude
                  from bus_schedule s
                           left join station_info `start` on s.start_station_id = `start`.station_id) s
                     left join station_info `end` on s.end_station_id = `end`.station_id
            ) s
        on r.schedule_id = s.schedule_id
        where s.departure_time between #{startDateTime} and #{endDateTime}
        order by r.reserve_time DESC
    </select>

    <select id="listOnlyReservesByUserId" resultMap="Reserve">
        select
               *
        from
            (select
                    r.reserve_id, r.schedule_id, r.reserve_time, r.`status`, u.user_id, u.`name`
            from reserve_info r
                left join user_info u on r.user_id = u.user_id
            where r.status = 1 and r.user_id = #{userId}) r
        left join
            (select
                    s.schedule_id, s.departure_time, s.total_seat, s.start_station_id,
                    s.end_station_id,
                    s.start_station_name,
                    s.start_station_campus,
                    s.start_station_longitude,
                    s.start_station_latitude,
                    `end`.station_name as end_station_name,
                    `end`.station_campus as end_station_campus,
                    `end`.station_longitude as end_station_longitude,
                    `end`.station_latitude as end_station_latitude
                from
                    (select
                          s.schedule_id, s.departure_time, s.total_seat, s.last_seat,
                          s.start_station_id, s.end_station_id,
                          `start`.station_name as start_station_name,
                          `start`.station_campus as start_station_campus,
                          `start`.station_longitude as start_station_longitude,
                          `start`.station_latitude as start_station_latitude
                    from bus_schedule s
                          left join station_info `start` on s.start_station_id = `start`.station_id) s
                    left join station_info `end` on s.end_station_id = `end`.station_id
            ) s
        on r.schedule_id = s.schedule_id
        order by r.reserve_time DESC
    </select>

    <update id="setStatusByUserIdAndScheduleId">
        UPDATE reserve_info SET status=#{status} where user_id=#{userId} and schedule_id=#{scheduleId}
    </update>

    <select id="selectReserveByReserveId" resultMap="Reserve">
        select * from
                      (select r.reserve_id, r.schedule_id, r.reserve_time, r.`status`, u.user_id, u.`name` from reserve_info r left join user_info u on r.user_id = u.user_id
                       where r.status = 1 and r.reserve_id = #{reserveId}) r left join
                      (
                          select s.schedule_id, s.departure_time, s.total_seat,s.last_seat,
                                 s.start_station_id, s.end_station_id, s.start_station_name,
                                 `end`.station_name as end_station_name
                          from
                               (select
                                    s.schedule_id, s.departure_time, s.total_seat, s.last_seat, s.start_station_id, s.end_station_id, `start`.station_name as start_station_name
                                from bus_schedule s left join station_info `start` on s.start_station_id = `start`.station_id)
                                   s left join station_info `end` on s.end_station_id = `end`.station_id
                      ) s on r.schedule_id = s.schedule_id
    </select>

    <update id="setStatusByReserveId">
        UPDATE reserve_info SET status=#{status} where reserve_id = #{reserveId}
    </update>

    <select id="verifyReserveByScheduleIdAndUserId" resultType="Integer">
        SELECT reserve_id from reserve_info where schedule_id = #{scheduleId} and user_id = #{userId} limit 1
    </select>

    <update id="removeByScheduleId">
        UPDATE reserve_info SET status=2 where schedule_id = #{scheduleId}
    </update>
</mapper>