<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nwpu.i_gua_da.mapper.ScheduleMapper">
    <resultMap id="Schedule" type="org.nwpu.i_gua_da.entity.Schedule">
        <id property="scheduleId" column="schedule_id"/>
        <result property="departureDateTime" column="departure_time"/>
        <result property="totalSeat" column="total_seat"/>
        <result property="lastSeat" column="last_seat"/>
        <result property="status" column="status"/>
        <association property="startStation" javaType="org.nwpu.i_gua_da.entity.Station">
            <id property="stationId" column="start_station_id"/>
            <result property="stationName" column="start_station_name"/>
            <result property="longitude" column="start_longitude"/>
            <result property="latitude" column="start_latitude"/>
            <result property="campus" column="start_campus"/>
        </association>
        <association property="endStation" javaType="org.nwpu.i_gua_da.entity.Station">
            <id property="stationId" column="end_station_id"/>
            <result property="stationName" column="end_station_name"/>
            <result property="longitude" column="end_longitude"/>
            <result property="latitude" column="end_latitude"/>
            <result property="campus" column="end_campus"/>
        </association>
    </resultMap>

    <select id="getSchedulesByScheduleId" resultMap="Schedule">
        select s.schedule_id, s.departure_time, s.total_seat, s.last_seat, s.`status`, 
        	s.start_station_id, s.end_station_id, s.start_station_name, `end`.station_name as end_station_name,
        	s.start_longitude, s.start_latitude, s.start_campus,
        	`end`.station_longitude as end_longitude, `end`.station_latitude as end_latitude,
               `end`.station_campus as end_campus
        from (select 
        			 s.schedule_id,
                     s.departure_time,
                     s.total_seat,
                     s.last_seat,
                     s.`status`,
                  	 s.start_station_id,
                     s.end_station_id,
                     `start`.station_name as start_station_name,
                  	 `start`.station_longitude as start_longitude,
                     `start`.station_latitude as start_latitude,
                     `start`.station_campus as start_campus
              from bus_schedule s
              left join station_info `start` on s.start_station_id = `start`.station_id
              where s.schedule_id = #{scheduleId})s
        left join station_info `end` on s.end_station_id = `end`.station_id
    </select>

    <select id="listAllSchedules" resultMap="Schedule">
        select s.schedule_id, s.departure_time, s.total_seat, s.last_seat, s.`status`, 
        	s.start_station_id, s.end_station_id, s.start_station_name, `end`.station_name as end_station_name,
        	s.start_longitude, s.start_latitude, s.start_campus,
        	`end`.station_longitude as end_longitude, `end`.station_latitude as end_latitude, `end`.station_campus as end_campus
        from (select
                  s.schedule_id, s.departure_time, s.total_seat, s.last_seat, s.`status`, 
                  s.start_station_id, s.end_station_id, `start`.station_name as start_station_name,
                  `start`.station_longitude as start_longitude, `start`.station_latitude as start_latitude, `start`.station_campus as start_campus
              from bus_schedule s left join station_info `start` on s.start_station_id = `start`.station_id)
                 s left join station_info `end` on s.end_station_id = `end`.station_id order by s.departure_time DESC
    </select>

    <select id="listScheduleBetweenTimes" resultMap="Schedule">
        select s.schedule_id, s.departure_time, s.total_seat, s.last_seat, s.`status`, 
        	s.start_station_id, s.end_station_id, s.start_station_name, `end`.station_name as end_station_name,
        	s.start_longitude, s.start_latitude, s.start_campus,
        	`end`.station_longitude as end_longitude, `end`.station_latitude as end_latitude, `end`.station_campus as end_campus
        from (select
                  s.schedule_id, s.departure_time, s.total_seat, s.last_seat, s.`status`, 
                  s.start_station_id, s.end_station_id, `start`.station_name as start_station_name,
                  `start`.station_longitude as start_longitude, `start`.station_latitude as start_latitude, `start`.station_campus as start_campus
              from bus_schedule s left join station_info `start` on s.start_station_id = `start`.station_id)
                 s left join station_info `end` on s.end_station_id = `end`.station_id 
              where s.departure_time between #{startTime} and #{endTime} 
                 and s.status = #{status} order by departure_time DESC
    </select>

	<select id="listScheduleByStationAndTime" resultMap="Schedule">
		select
        s.schedule_id, s.departure_time, s.total_seat, s.last_seat, s.`status`,
        s.start_station_id, s.end_station_id, s.start_station_name,
		`end`.station_name as end_station_name,
        s.start_longitude, s.start_latitude, s.start_campus,
        `end`.station_longitude as end_longitude,
		`end`.station_latitude as end_latitude,
		`end`.station_campus as end_campus
        from (
            select
                s.schedule_id, s.departure_time, s.total_seat, s.last_seat, s.`status`,
                s.start_station_id, s.end_station_id,
                `start`.station_name as start_station_name,
                `start`.station_longitude as start_longitude,
                `start`.station_latitude as start_latitude,
                `start`.station_campus as start_campus
            from bus_schedule s left join station_info `start` on s.start_station_id = `start`.station_id)
                 s left join station_info `end` on s.end_station_id = `end`.station_id 
        where s.departure_time between #{startTime} and #{endTime} 
            and s.start_campus=#{startStation} 
            and `end`.station_campus=#{endStation}
            and s.status = #{status} order by departure_time DESC
	</select>

    <insert id="addSchedule" parameterType="org.nwpu.i_gua_da.entity.Schedule" useGeneratedKeys="true" keyProperty="scheduleId">
        INSERT INTO bus_schedule (start_station_id, end_station_id, departure_time, total_seat, last_seat, status) VALUES (#{startStation.stationId}, #{endStation.stationId}, #{departureDateTime}, #{totalSeat}, #{lastSeat}, #{status})
    </insert>

    <update id="updateLastSeatByScheduleId" parameterType="org.nwpu.i_gua_da.entity.Schedule">
        UPDATE bus_schedule SET last_seat=#{lastSeat} where schedule_id = #{scheduleId}
    </update>

    <update id="setStatusByScheduleId">
        UPDATE bus_schedule SET status=#{status} where schedule_id=#{scheduleId}
    </update>
</mapper>