<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.nwpu.i_gua_da.mapper.UserMapper">
    <resultMap id="User" type="org.nwpu.i_gua_da.entity.User">
        <id property="userId" column="user_id"/>
    </resultMap>

    <select id="selectUserTest" resultMap="User">
        SELECT * FROM user_info limit 1
    </select>
</mapper>